$color-primary: #dc2f02;
$color-primary-light: #e85d04;
$color-primary-dark: #d00000;

$color-secondary: #faa307;
$color-secondary-light: #ffba08;
$color-secondary-dark: #f48c06;

$color-tertiary-light: #ff9500;
$color-tertiary-dark: #ff8800;

$color-tetra-light: #00eee2;
$color-tetra-dark: #00dbd0;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONT
$default-font-size: 1.6rem;
