.nav2 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: red;
  width: 100%;
  height: 150px;
  //   overflow: hidden;

  padding-top: 10rem;

  transition: all 2s ease-in;

  .wave {
    // transform: rotate(180deg);
    transition: all 2s ease-in;
  }

  #wave1 {
    background: url(../../img/wave4.png) repeat-x;
    width: 100%;
    height: 100%;
    background-size: 100% 100px;
    z-index: 10;

    // transform: rotate(360deg);

    position: absolute;
    bottom: -44%;
    left: 0;
  }

  #wave2 {
    background: url(../../img/waveYellow.png) repeat-x;
    width: 100%;
    height: 100%;
    background-size: 2000px 100px;
    z-index: -8;

    transform: rotate(180deg);

    position: absolute;
    bottom: -49%;
    left: 0;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brandLogo {
    z-index: 100;
    & > h2 {
      font-size: 4rem;
      color: #fff;
    }
  }

  &__linkBox {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 100;

    transform: translateY(-450px);

    transition: all 1.5s ease-in;
  }

  &__item {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  &__link {
    color: #fff;
    padding: 1rem 0;
    font-size: 2.4rem;
    z-index: 100;
  }

  &__btn {
    // margin-top: 1rem;
    background-color: blue;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 10px;

    & > a {
      text-decoration: none;
      color: #fff;
      display: inline-block;
      z-index: 1000;

      transform: translateX(200px);

      transition: all 1.5s ease-in;
    }
  }
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    // background-position-x: 0;
    transform: translateY(0);
  }

  100% {
    // background-position-x: 200px;
    transform: translateY(-70px);
    // opacity: 0;
    // visibility: hidden;
  }

  // 150% {
  //   visibility: hidden;
  //   opacity: 0;
  // }
}

@keyframes animate2 {
  0% {
    background-position-x: 2000px;
    transform: translateY(0) rotate(180deg);
  }

  100% {
    background-position-x: -800px;
    transform: translateY(-50px) rotate(180deg);
    visibility: hidden;
    opacity: 0;
  }
  // 150% {
  //   visibility: hidden;
  //   opacity: 0;
  // }
}

@keyframes wave {
  0% {
    margin-top: 0;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    // margin-top: 1920px;
    transform: translateY(-100%);
    // opacity: 0;
    // visibility: hidden;
  }
}
