.header {
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../../img/hero-1.jpg");
  background-position: top;
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;

  &__box {
    position: absolute;
    top: 54%;
    left: 47%;
    transform: translate(-50%, -50%);
  }

  &__avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 1rem 6rem rgba($color-black, 0.65);
  }
}
